.Inicio{
    img{
        margin-top: 10%;
        width: 200px;
    }
}

.nav{
    width: 80%;
    padding-left: 20%;
    a{
        display: block;
        border-radius: 10px;
        padding: 10px 20% 10px 20%;
        background-color: #fff;
        color: black;
        margin-top: 3px;
    
        &:hover{
            padding: 10px 22%;
            background-color: $Btn-Color;
            color: #fff;
            text-decoration: none;
        }
    
        &:active{
            padding: 10px 22%;
            background-color: $Btn-Color;
            color: #fff;
            text-decoration: none;
        }
    }
}

.grupo1{
    margin-top: 40px;
}

.grupo2{
    margin-top: 40px;
}