* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #1fbaaf;
}

.Contenedores {
  background-color: #1fbaaf;
  display: block;
  height: 640px;
  width: 360px;
  border: 1px solid black;
}

.logo {
  padding-top: 100px;
  padding-left: 20px;
}

.logo img {
  width: 300px;
}

.Inicio img {
  margin-top: 10%;
  width: 200px;
}

.content {
  padding-top: 100px;
}

.Splash {
  background-color: #1fbaaf;
}

.Splash h3 {
  text-align: center;
  font-style: italic;
}

.contenido {
  margin-top: 40px;
  background-color: #1fbaaf;
  text-align: center;
  height: 560px;
}

.contenido h1 {
  padding-top: 50px;
  font-size: 70px;
}

ul {
  list-style-type: none;
  margin-top: 60px;
}

ul li {
  margin-top: 20px;
}

ul li a {
  border-radius: 10px;
  padding: 10px 20% 10px 20%;
  background-color: #fff;
  color: black;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition: padding 1s, background-color 2s, color .5s;
  transition: padding 1s, background-color 2s, color .5s;
}

ul li a:hover {
  padding: 10px 22%;
  background-color: #84c4cd;
  color: #fff;
  text-decoration: none;
}

ul li a:active {
  padding: 10px 22%;
  background-color: #84c4cd;
  color: #fff;
  text-decoration: none;
}

ol {
  list-style-type: none;
  margin-top: 70px;
}

ol li {
  margin-top: 20px;
}

ol li a {
  border-radius: 10px;
  padding: 10px 18%;
  background-color: #fff;
  color: black;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition: padding 1s, background-color 2s, color .5s;
  transition: padding 1s, background-color 2s, color .5s;
  width: 500px;
}

ol li a:hover {
  padding: 10px 22%;
  background-color: #84c4cd;
  color: #fff;
  text-decoration: none;
}

ol li a:active {
  padding: 10px 22%;
  background-color: #84c4cd;
  color: #fff;
  text-decoration: none;
}

.mapa .contenido {
  position: absolute;
  bottom: 80px;
}

.back {
  z-index: 10000;
  position: absolute;
  left: 10px;
  top: 10px;
}

.circle {
  position: inherit;
  text-align: center;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  background-color: black;
  color: white;
}

.circle h3 {
  position: relative;
  bottom: 30%;
}

.circle h3 a {
  color: white;
  height: 40px;
  width: 40px;
}

.circle h3 a:hover {
  color: white;
  text-decoration: none;
}

.contenido_menu {
  margin-top: 50px;
  margin-left: 26%;
}

.informacion {
  text-align: left;
}

.imagen {
  height: 200px;
  width: 200px;
}

.imagen img {
  height: 200px;
  width: 200px;
  border-radius: 100%;
}

.movilidad a {
  position: relative;
  bottom: 280px;
}

.movilidad a img {
  margin: 0px 20px;
  display: inline-block;
  width: 38px;
}

.cont-texto {
  padding-top: 100px;
  margin-left: 40px;
  width: 70%;
}

.texto {
  text-align: center;
  font-size: 30px;
}

.enviar {
  border-radius: 10px;
  background-color: #fff;
  color: black;
  width: 200px;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition: padding 1s, background-color 2s, color .5s;
  transition: padding 1s, background-color 2s, color .5s;
  margin-left: 15%;
}

.enviar:hover {
  background-color: #84c4cd;
  color: #fff;
  text-decoration: none;
}

.Login .forulario {
  padding-top: 100px;
}

.Login .forulario ol {
  padding-top: 60px;
}

.formulario {
  margin-left: 10%;
  width: 80%;
}

.ocultar {
  display: none;
}
/*# sourceMappingURL=main.css.map */