$Color-Fondo: #1fbaaf;
$Btn-Color: #84c4cd;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $Color-Fondo;
}

.Contenedores {
    background-color: $Color-Fondo;
    display: block;
	height: 640px;
	width: 360px;
	border: 1px solid black;
}

@import "Splash";

.contenido{
	margin-top: 40px;
	background-color: $Color-Fondo;
	text-align: center;
	height: 560px;

    h1{
        padding-top: 50px;
        font-size:70px;
    }
}

@import "Inicio";
@import "Mapa";
@import "Back";
@import "Menu";
@import "Reserva_Sin_Login";
@import "Registro";
@import "Login";

.formulario {
	margin-left: 10%;
	width: 80%;
}

.ocultar {
	display: none;
}